
<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-logo">
        <img src="FiscalizaLogoBranco.png" alt="Logo" />
      </div>
      <div class="footer-contact">
        <p><span class="badge">Contato</span></p>
        <p>Email: info&#64;gmail.com</p>
        <p>Phone: (11) 90101-0202</p>
      </div>
    </div>

    <div class="footer-nav">
      <a href="#">Sobre nós</a>
      <a href="#">Ocorrências</a>
      <a href="#">Análises</a>
    </div>

    <div class="footer-social">
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>

  <hr />

  <div class="footer-bottom">
    <span>© 2025 FiscalizaJa. All Rights Reserved.</span>
    <a href="#">Política de Privacidade</a>
  </div>
</footer>

