<main class="container">
    <div class="welcome-section">
        <h1>Bem vindo Guilherme</h1>
        <p>Você possui X ocorrências em aberto</p>
    </div>

    <div class="illustration">
        <img src="HomeImage.png">
    </div>
</main>

<section class="actions-container container">
    <div class="action-box">
        <span>Ocorrências</span>
    </div>
    <div class="action-box">
        <span>Nova ocorrência</span>
    </div>
    <div class="action-box">
        <span>Dashboard</span>
    </div>
</section>
