<div class="login-container">
    <div class="login-card">
      <h2>Bem-vindo(a) de volta</h2>
  
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Senha" />
  
      <button class="btn-gradient">Entrar</button>
  
      <div class="divider">
        <hr />
        <span>ou</span>
        <hr />
      </div>
  
      <button class="social-button">
        <img src="LogoGoogle.png" />
        Entrar com Google
      </button>
  
      <button class="social-button">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" />
        Entrar com Facebook
      </button>
  
      <p class="switch">
        Ainda não tem uma conta? <a routerLink="/registrar">Registrar aqui</a>
      </p>
    </div>
  </div>
  