<div class="login-container">
    <div class="login-card">
      <h2>Bem-vindo(a) de volta</h2>
  
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />
      <input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha" />

      <button class="btn-gradient" (click)="login()">Entrar</button>
  
      <div class="divider">
        <hr />
        <span>ou</span>
        <hr />
      </div>
  
      <button class="social-button">
        <img src="LogoGoogle.png" />
        Entrar com Google
      </button>
      <p class="switch">
        Ainda não tem uma conta? <a routerLink="/registrar">Registrar aqui</a>
      </p>
    </div>
  </div>
  