<div class="tela-ocorrencias">
  <h2 class="titulo-ocorrencias">Ocorrências</h2>

  <div class="filtros-ocorrencias">
    <input type="text" placeholder="🔍︎ Buscar Ocorrências..." class="input-busca-ocorrencias" />
    <select class="select-ocorrencias">
      <option>Data</option>
    </select>
    <select class="select-ocorrencias">
      <option>Status</option>
    </select>
    <button class="botao-nova-ocorrencia">+ Nova Ocorrência</button>
  </div>

  <table class="tabela-ocorrencias">
    <thead class="cabecalho">
      <tr>
        <th class="coluna">Título da Ocorrência</th>
        <th class="coluna">Localização</th>
        <th class="coluna">Data</th>
        <th class="coluna">Status</th>
        <th class="coluna">Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="celula"><strong>Buraco na Av. Brasil</strong><br />Rua, Bairro</td>
        <td class="celula">Ver no mapa</td>
        <td class="celula">01/01/2025</td>
        <td class="celula"><span class="tag status-analise">Em análise</span></td>
        <td class="celula"><span class="icone-info">🛈</span></td>
      </tr>
      <tr>
        <td class="celula"><strong>Poste sem luz</strong><br />Jardim Europa</td>
        <td class="celula">Ver no mapa</td>
        <td class="celula">01/01/2025</td>
        <td class="celula"><span class="tag status-pendente">Pendente</span></td>
        <td class="celula"><span class="icone-info">🛈</span></td>
      </tr>
      <tr>
        <td class="celula"><strong>Mato na estrada</strong><br />Rodovia Castello Branco</td>
        <td class="celula">Ver no mapa</td>
        <td class="celula">01/01/2025</td>
        <td class="celula"><span class="tag status-resolvida">Resolvida</span></td>
        <td class="celula"><span class="icone-info">🛈</span></td>
      </tr>
      <tr>
        <td class="celula"><strong>Lixo em terreno baldio</strong><br />Rua das Flores, Centro</td>
        <td class="celula">Ver no mapa</td>
        <td class="celula">01/01/2025</td>
        <td class="celula"><span class="tag status-resolvida">Resolvida</span></td>
        <td class="celula"><span class="icone-info">🛈</span></td>
      </tr>
    </tbody>
  </table>
</div>
