<div class="sobre-wrapper">
  <main class="conteudo">
    <section class="texto">
      <h1>Sobre nós</h1>
      <p>
        O FiscalizaJá nasceu da necessidade de transformar a relação entre cidadãos e gestão pública.
        Somos uma plataforma colaborativa que democratiza o acesso aos serviços urbanos, dando voz
        à população e transparência às ações governamentais.
      </p>
      <p>Somos cidadãos, como você, que acreditam na mudança.</p>
    </section>
    <section class="imagem">
      <img src="sobrenos.png" />
    </section>
  </main>

<footer class="rodape"> 
  <hr>
  <span>© 2025 FiscalizaJá. All Rights Reserved.</span>
  <a routerLink="/politica-privacidade">Política de Privacidade</a>
</footer>

</div>
