<div class="sobre-wrapper">
  <main class="conteudo">
    <section class="texto">
      <h1>Central de Ajuda</h1>
        <p>
            Bem-vindo(a) ao nosso canal de suporte! Estamos aqui para ajudar você a utilizar 
            todas as funcionalidades da plataforma e garantir que sua voz seja ouvida pela gestão pública.
        </p>
        <p>Envie sua dúvida para: suporte&#64;fiscalizaja.com.br </p>
        <p>Telefone: (11) 4004-1234 (Segunda a sexta, 8h - 18h)</p>
    </section>
    <section class="imagem">
      <img src="ContatoImage.png" />
    </section>
  </main>

<footer class="rodape"> 
  <hr>
  <span>© 2025 FiscalizaJá. All Rights Reserved.</span>
  <a routerLink="/politica-privacidade">Política de Privacidade</a>
</footer>

</div>
