<section class="cases-section">
    <div class="section-header">
      <h2><span class="highlight">Exemplos</span> Casos de sucesso: resultados reais do nosso sistema de controle de ocorrências</h2>
    </div>
  
    <!-- Container para centralização -->
    <div class="centered-container">
      <div class="cases-cards">
        <div class="case-card">
          <p>Para a prefeitura de São Paulo, o FiscalizaJa aumentou em x% a participação cidadã e reduziu em x% o tempo de resposta aos problemas urbanos.</p>
          <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="divider"></div>
        <div class="case-card">
          <p>Para o governo do Rio de Janeiro, o painel de acompanhamento em tempo real que permitiu a resolução de x% das demandas dentro do prazo estipulado.</p>
          <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="divider"></div>
        <div class="case-card">
          <p>Em Curitiba, o sistema de georreferenciamento permitiu otimizar x% das rotas de manutenção urbana com base nas ocorrências registradas.</p>
          <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
</section>
  
  
<section class="team-section">
    <div class="section-header">
      <h2><span class="highlight">Time</span> Conheça o time por trás desse Projeto</h2>
    </div>
  
    <div class="team-cards">
      <div class="team-card">
        <img class="profile-img" src="ImagemPerfilCard.png"  alt="Guilherme Aragoni">
        <i class="fab fa-linkedin-in linkedin-icon"></i>
        <h3>Guilherme Aragoni</h3>
        <hr />
        <p>Estudante de ADS do IFSP - Boituva</p>
      </div>
  
      

      <div class="team-card">
        <img class="profile-img" src="ImagemPerfilCard.png"alt="Fabricio Fialho">
        <i class="fab fa-linkedin-in linkedin-icon"></i>
        <h3>Fabricio Fialho</h3>
        <hr />
        <p>Estudante de ADS do IFSP - Boituva</p>
      </div>
  
      <div class="team-card">
        <img class="profile-img" src="ImagemPerfilCard.png" alt="Daniel Cugler">
        <i class="fab fa-linkedin-in linkedin-icon"></i>
        <h3>Daniel Cugler</h3>
        <hr />
        <p>Professor de ADS do IFSP - Boituva</p>
      </div>
    </div>
</section>
  