<section class="home-section">
    <div class="home-container">
        <div class="home-content">
            <h1 class="home-title">Sua voz transformando nossa cidade</h1>
            
            <p class="home-description">
            Sua voz é princípio que guia nossa plataforma. Aqui, cada reclamação, sugestão ou registro se torna um agente de mudança real, conehomendo diretamente os cidadãos aos órgãos responsáveis.
            </p>
            
            <button class="home-button" routerLink="/login">Registre-se agora</button>
        </div>
        
        <div class="home-image">
            <img src="HomeImage.png" class="home-img">
        </div>
    </div>
</section>


<section class="services-section">
    <div class="section-header">
        <h2><span class="highlight">Serviços</span>Oferecemos ferramentas para você reportar problemas urbanos com facilidade.</h2>
    </div>

    <div class="services-cards">
        <div class="services-card">
            <div class="card-image">
                <img src="OcorrenciaImage.png" class="service-icon">
            </div>
            <h2 class="card-title">Ocorrências</h2>
            <button class="home-button">Saiba mais</button>
        </div>

        <div class="services-card">
            <div class="card-image">
                <img src="AnaliseImage.png" class="service-icon">
            </div>
            <h2 class="card-title">Análise das Ocorrências</h2>
            <button class="home-button">Saiba mais</button>
        </div>
    </div>
</section>

<section class="cases-section">
    <div class="section-header">
        <h2><span class="highlight">Exemplos</span> Casos de sucesso: resultados reais do nosso sistema de controle de ocorrências</h2>
    </div>
  
    <div class="centered-container">
        <div class="cases-cards">
            <div class="case-card">
            <p>Para a prefeitura da Cidade X, o FiscalizaJa aumentou em x% a participação cidadã e reduziu em x% o tempo de resposta aos problemas urbanos.</p>
            <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="divider"></div>
            <div class="case-card">
            <p>Para o governo do Rio da Cidade X, o painel de acompanhamento em tempo real que permitiu a resolução de x% das demandas dentro do prazo estipulado.</p>
            <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="divider"></div>
            <div class="case-card">
            <p>Em Cidade X, o sistema de georreferenciamento permitiu otimizar x% das rotas de manutenção urbana com base nas ocorrências registradas.</p>
            <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
  
  
<section class="team-section">
    <div class="section-header">
      <h2><span class="highlight">Time</span> Conheça o time por trás desse Projeto</h2>
    </div>
  
    <div class="team-cards">
        <div class="team-card">
            <img class="profile-img" src="ImagemPerfilCard.png"  alt="Guilherme Aragoni">
            <i class="fab fa-linkedin-in linkedin-icon"></i>
            <h3>Guilherme Aragoni</h3>
            <hr />
            <p>Estudante de ADS do IFSP - Boituva</p>
        </div>
        <div class="team-card">
            <img class="profile-img" src="ImagemPerfilCard.png"alt="Fabricio Fialho">
            <i class="fab fa-linkedin-in linkedin-icon"></i>
            <h3>Fabricio Fialho</h3>
            <hr />
            <p>Estudante de ADS do IFSP - Boituva</p>
        </div>
    
        <div class="team-card">
            <img class="profile-img" src="ImagemPerfilCard.png" alt="Daniel Cugler">
            <i class="fab fa-linkedin-in linkedin-icon"></i>
            <h3>Daniel Cugler</h3>
            <hr />
            <p>Professor de ADS do IFSP - Boituva</p>
        </div>
    </div>
</section>
  
