<div class="sobre-wrapper">
  <main class="conteudo">
    <section class="texto">      
      <h1>Política de Privacidade</h1>

<p>
  Esta aplicação foi desenvolvida como parte de um Trabalho de Conclusão de Curso e tem finalidade exclusivamente acadêmica. Nenhum dado pessoal coletado será compartilhado, vendido ou utilizado para fins comerciais.
</p>

<p>
  Todas as informações inseridas pelos usuários são utilizadas apenas para demonstrar o funcionamento da aplicação e não são armazenadas de forma permanente.
</p>

<p>
  Ao utilizar esta aplicação, você reconhece que os dados são utilizados apenas em ambiente de testes e que não há qualquer compromisso de confidencialidade ou suporte oficial.
</p>

<p>
  Para dúvidas ou mais informações, entre em contato com os desenvolvedores responsáveis pelo projeto.
</p>
      
</section>
<section class="imagem">
    <img src="telapccadeado.webp" />
</section>
</main>

<footer class="rodape"> 
  <hr>
  <span>© 2025 FiscalizaJá. All Rights Reserved.</span>
  <a routerLink="/politica-privacidade">Política de Privacidade</a>
</footer>

</div>